.profile-container {
  position: relative;
  display: flex;
  justify-content: center; /* центрируем карточку профиля */
  padding: 40px 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.profile-card {
  background-color: white;
  border-radius: 40px;
  padding: 40px 30px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  max-width: 400px;
  width: 100%;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #dbf9ac;
  margin: 0 auto 20px auto;
}
.avatar-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px auto;
  position: relative;
}
.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.username {
  margin-bottom: 0px;
  font-weight: bold;
}

.profile-city {
  margin-top: 0px;
}

.section {
  margin-top: 20px;
}

.section strong {
  margin-bottom: 0px;
  font-size: 20px;
}

.section p {
  margin-top: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 17px;
}

.track {
  margin-top: 40px;
}

.track-input {
  font-weight: 500;
  width: 60%;
  padding: 10px;
  border-radius: 30px;
  border: 4px solid #dbf9ac;
  margin-top: 7px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.track-input::placeholder {
  color: #b1b1b1;
}

.track-input:focus {
  border: 4px solid #dbf9ac;
  outline: none;
}

.search-button {
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  background-color: #dbf9ac;
  font-weight: 800;
  cursor: pointer;
  font-size: 15px;
  font-family: "Plus Jakarta Sans", sans-serif;
  transition: 0.5s ease-in-out;
}
.search-button:hover {
  box-shadow: 0px 1px 15px rgba(126, 126, 126, 0.3);
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.edit-button,
.logout-button,
.delete-button {
  flex: 1;
  padding: 10px;
  border-radius: 30px;
  font-weight: 700;
  margin: 0 5px;
  cursor: pointer;
  font-size: 15px;
}

.edit-button {
  background-color: #dbf9ac;
  border: none;
  transition: 0.5s ease-in-out;
}
.edit-button:hover {
  background-color: #c6e09d;
}

.logout-button {
  background-color: white;
  border: 5px solid #dbf9ac;
  transition: 0.5s ease-in-out;
}
.logout-button:hover {
  background-color: #f0ffd8;
}

.delete-button {
  background-color: white;
  border: 5px solid #f9acac;
  color: #000;
  transition: 0.5s ease-in-out;
}
.delete-button:hover {
  background-color: #f5d5d5;
}

/* --------- EDIT MODE --------------------------------- */

.edit-name {
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  background-color: #efefef;
  border: none;
  border-radius: 10px;
  padding: 3px 0px;
}

.edit-city {
  margin-top: 7px;
  text-align: center;
  background-color: #efefef;
  border: none;
  border-radius: 5px;
  padding: 3px 0px;
}
.edit-name:focus,
.edit-city:focus {
  box-shadow: inset 0 0 0 2px #b1b1b1;
  outline: none;
}

.avatar-wrapper {
  position: relative;
  width: fit-content;
}
.editable-avatar img.avatar-img {
  filter: brightness(0.6);
}
.change-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  pointer-events: none;
}
.editable-avatar img.avatar-img:hover {
  cursor: pointer;
}

.genre-edit-container {
  margin-top: 10px;
}

.selected-genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 10px;
  padding: 10px 0px;
  border-radius: 10px;
  background-color: #efefef;
}

.genre-tag {
  background: #dbdbdb;
  border-radius: 20px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
}
.genre-tag button {
  background: none;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
}

.genre-list {
  color: #989898;
  font-weight: 600;
  max-height: 170px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  overflow-y: auto;
  border-radius: 10px;
  padding: 5px;
  text-align: left;
  margin-bottom: -60px;
  background-color: #fafafa;
  border: none;
  /* overflow-x: hidden; */
}
.input-add-new {
  font-family: "Montserrat", sans-serif;
  color: #989898;
  font-weight: 600;
  font-size: 14px;
  background-color: #fafafa;
  border: none;
  width: 100%;
  box-sizing: border-box;
}
.input-add-new:focus {
  outline: none;
}

.genre-option {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 1px solid #b6b6b6;
}
.genre-option:hover {
  background-color: #f0f0f0;
}

.save-button {
  background-color: #dbf9ac;
  border: none;
  border-radius: 30px;
  padding: 13px 50px;
  font-weight: 700;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0px auto;
}

/* --------- DELETE MODE --------------------------------- */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  width: 90%;
  max-width: 580px;
  border-radius: 50px;
  text-align: center;
  padding: 20px 30px;
}

.modal-header {
  background-color: #f9acac;
  padding: 26px;
  font-weight: 800;
  font-size: 25px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin: -20px -30px 10px -30px;
}

.modal-content p {
  font-size: 17px;
  font-weight: 800;
  text-align: left;
  padding: 0px 50px;
}

.delete-input {
  margin: 0px auto;
  margin-bottom: 18px;
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 3px solid #ccc;
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
}
.delete-input::placeholder {
  color: #d8d8d8;
}
.delete-input:focus {
  outline: none;
  border: 3px solid #b0b0b0;
}

.del-btn {
  padding: 10px 30px;
  border-radius: 40px;
  font-weight: 800;
  font-family: "Plus Jakarta Sans", sans-serif;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
  margin-left: 5px;
  border: none;
}

.submit-delete-button {
  background-color: #f9acac;
  padding: 15px 33px;
  transition: 0.5s ease-in-out;
}
.submit-delete-button:hover {
  background-color: #dc9393;
}

.cancel-btn {
  background-color: #fff;
  border: 5px solid #dbf9ac;
  transition: 0.5s ease-in-out;
}
.cancel-btn:hover {
  background-color: #f0ffd8;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.modal-content.shake {
  animation: shake 0.5s;
}

/* отзывы */
.reviews-section {
  margin-top: 30px;
  max-height: 250px; /* или любое значение по вкусу */
  overflow-y: auto;
  padding-right: 8px;
  /* border-top: 1px solid #ddd; */
  margin-bottom: 20px;
}

.reviews-section::-webkit-scrollbar {
  width: 6px;
}
.reviews-section::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
}
.reviews-section::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.review-item {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  background: #f9f9f9;
  border-radius: 12px;
  padding: 10px;
}

.review-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  object-fit: cover;
  border: 1px solid #ddd;
}

.review-content {
  padding-left: 10px;
  text-align: left;
  flex: 1;
}

.review-author {
  font-weight: 600;
  margin-bottom: 4px;
  display: block;
}

.review-text {
  margin: 0;
  font-size: 14px;
  color: #444;
}

.report-icon {
  position: absolute;
  top: 70px;
  right: 760px;
  background-image: url("F:/NodeJS/bookly_web/public/report.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.2;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.report-icon:hover {
  opacity: 1;
}

.books-icon {
  position: absolute;
  top: 70px;
  left: 760px;
  background-image: url("F:/NodeJS/bookly_web/public/mybooks (2).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.2;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.books-icon:hover {
  opacity: 1;
}

.report-reasons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 50px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
}

.report-option {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.submit-report-button {
  background-color: #f9acac;
  padding: 15px 33px;
  transition: 0.5s ease-in-out;
  /* padding: 10px 30px; */
  border-radius: 40px;
  font-weight: 800;
  font-family: "Plus Jakarta Sans", sans-serif;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
  margin-left: 5px;
  border: none;
}

.select-p {
  margin-bottom: 0px;
  margin-top: 30px;
}

.profile-content {
  display: flex;
  justify-content: center;
  position: relative;
}

/* .reviews-card {
  background-color: white;
  border-radius: 30px;
  padding: 25px;
  width: 320px;
  max-height: 550px;
  overflow-y: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}

.reviews-card .str-rew {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  display: block;
}

.reviews-card .review-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.reviews-card .review-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.reviews-card .review-author {
  font-weight: 600;
}

.reviews-card .review-text {
  margin: 4px 0 0;
  font-size: 14px;
  color: #444;
}
 */

.profile-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.reviews-card {
  position: absolute;
  right: 340px;
  top: 40px;
  background-color: white;
  border-radius: 30px;
  padding: 25px;
  width: 320px;
  max-height: 550px;
  overflow-y: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.reviews-card .str-rew {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  display: block;
}

.reviews-card .review-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.reviews-card .review-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.reviews-card .review-author {
  font-weight: 600;
}

.reviews-card .review-text {
  margin: 4px 0 0;
  font-size: 14px;
  color: #444;
}
